@page "/Cart"
@using ShoppingApp.Models
@using ShoppingApp.Services

<h3>Shopping Cart</h3>

<h4>You have @CartService.Selections.Count() Items Selected!</h4>

<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">Quantity</th>
            <th class="text-center">Indiviual Price</th>
            <th class="text-center"> Amount Cost</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var result in CartService.Selections)
            {
                <CartItem Item="result"></CartItem>
            }
        </tbody>
    </table>
</div>

<h4>Your Total Cost is £@Total</h4>

@code{
    private double Total = CartService.CalcTotal();
}